html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

.parent-flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.row-alt {
  background: #cbe2c1;
  height: 12vh;
 
}
.row-alt header {
  text-align: center;
  padding-top: 1rem;
  font-size: 100%;
  
}

h1 {
  font-size: 5vw;
}
.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.flex-container-col {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 25vw;    
  border: 1px solid #dfe2e5;
  border-radius: 5%;
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-right: 1rem;
  margin: 0.5rem;
  padding-bottom: 0.5rem;
}

.flex-container header, section, footer, .flex-container-col header, section, footer  {
  padding-top:1rem;
  
}
.leftAlign {

  padding-left: 1rem;
}
.textBold {
  font-weight: bold;
}

img {
  max-width: 50%;
}

.btn {
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .3rem;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #09cf76;
  padding: 11px 30px;
  font-size: 14px;
}

@media screen and (max-width: 950px) {
  .flex-container {
      display: flex;
      flex-direction: column;
      
 }
 .flex-container-col {
      width: auto;
 }

}

