html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex-container, .parent-flex-container {
    display: flex;
    padding-top: 0.5rem;
    height: auto;   
     
}

@media screen and (max-width: 855px) {
  .flex-container {
    display:flex;
    flex-direction: column;
  }
}

.intro {    
    padding-left: 2rem;
}


.profile{
    padding-top: 4rem;
    padding-left: 2rem;
    max-width: 77%;
}
.intro h1 {
    font-size: 3rem;    
    color: grey;
    padding-top: 5rem;
} 

.wrap {
  flex-wrap: wrap;
}


.leftpanel {
    width: 5%;
    background: darkcyan;
}
.middlepanel{   
    max-width: auto;    
   
}

h1, h2, h3, .aboutMe, span, .flex-container div, .profilePhoto{
    padding-left: 1rem;
}
h2 {
    font-size: 2rem;
    color: darkcyan;    
}
h3 {
    padding-top: 0.5rem;   
}

.profilePhoto img {
    border-radius: 50%;
    max-width: 70%;
}
header, section, footer, .aboutMe {
    padding-top:1rem;
    
}
.projects {
    width: 25vw;    
    border: 0.01rem solid #dfe2e5;
    border-radius: 5%;
    padding: 1rem;
    margin: 0.5rem;
}

@media screen and (max-width: 855px) {
  .projects {
    width: auto;    
    border: 0.01rem solid #dfe2e5;
    border-radius: 5%;
    padding: 1rem;
    margin: 0.5rem;
  }
}



h1, h2, h3, .txtBold {
    font-weight: bold;
}
.leftAlign {
  padding-left: 1.5rem;
  display: block;
  padding-top: 0.5rem;
}
.rightSection {
  padding-left: 2rem;
}
.contact {
  padding-left: 0.2rem !important;
}
a{
  text-decoration: none;
  color: black;  
}
a:hover {
  text-decoration: underline;
}